.Nav-Toggle-Container {
  position: absolute;
  right: 0;
  top: 18px;
  width: 100%;
  display: none;
}

.Toggle-Button-Container {
  position: absolute;
  right: 35px;
}

.Nav-Toggle-Button.active {
  background: none;
}

.Nav-Toggle-Button.active::after {
  transform: rotate(-45deg);
  bottom: 0;
}

.Nav-Toggle-Button.active::before {
  transform: rotate(45deg);
  top: 0;
}

.Nav-Toggle-Button {
  cursor: pointer;

  max-width: 100%;
  user-select: none;
  position: relative;
  border: 0;
  font-size: 0;
  color: inherit;
  background-color: var(--marineblue);
  width: 33px;
  height: 3px;
}

.Nav-Toggle-Button::after {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  bottom: 10px;
  right: 0;
  position: absolute;
  background-color: var(--marineblue);
}

.Nav-Toggle-Button::before {
  content: "";
  display: block;
  width: 33px;
  height: 3px;
  top: 10px;
  right: 0;
  position: absolute;
  background-color: var(--marineblue);
}

.Nav-Toggle-Button.active {
  color: var(--brown);
}

.Toggle-Menu {
  font-family: "Play-Fair-Display-Regular";
  display: flex;
  margin-top: 50px;
  flex-direction: column;
  user-select: none;
  background-color: var(--white);
  padding: 10px 10px;
  height: 100%;
  text-align: center;
}

.Toggle-Menu-Item {
  font-weight: 400;
  font-style: normal;
  font-size: 26px;
  text-align: left;
  padding: 3px 20px;
  text-transform: uppercase;
  color: var(--darkpink);
  margin-bottom: 11px;
  text-decoration: none;
  position: relative;
}

.Toggle-Menu-Item::before {
  content: "";
  display: block;
  height: 70%;
  width: 1px;
  background-color: var(--darkpink);
  position: absolute;
  left: 1.5%;
  bottom: 11%;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff)
    url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff2);
  font-display: swap;
}

@media (max-width: 988px) {
  .Nav-Toggle-Container {
    display: block;
  }
}

@media (max-width: 341px) {
  .Toggle-Menu-Item {
    font-size: 25px;
  }
}

@media (max-width: 328px) {
  .Toggle-Menu-Item {
    font-size: 23px;
  }
}

@media (max-height: 500px) {
  .Toggle-Menu-Item {
    font-size: 18px;
  }
}
