.SeText-Container {
  display: flex;
  max-width: 73%;
  margin-right: 20px;
  justify-content: space-between;
  user-select: none;
}

.SeImg {
  display: block;
  max-width: 370px;
  height: auto;
}

.SeText-Content {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  text-align: justify;
  max-width: 53.5%;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
  font-display: swap;
}

@media (max-width: 1197px) {
  .SeText-Container {
    flex-direction: column;
    max-width: 100%;
    justify-content: center;
    align-items: center;
    margin-right: 0;
  }

  .SeText-Content {
    max-width: 80%;
    margin: 25px 0;
  }
}

@media (max-width: 512px) {
  .SeImg {
    max-width: 300px;
    height: auto;
  }
}

@media (max-width: 583px) {
  .SeText-Content {
    font-size: 16px;
  }
}

@media (max-width: 429px) {
  .SeImg {
    max-width: 250px;
    height: auto;
  }
}

@media (max-width: 374px) {
  .SeText-Content {
    font-size: 14px;
  }
}

@media (max-width: 352px) {
  .SeImg {
    max-width: 210px;
    height: auto;
  }
}
