.GoodStuff-Item {
  user-select: none;
  display: flex;
  max-width: 50%;
  max-height: 50%;
  justify-content: space-between;
}

.GoodStuff-Content {
  position: relative;
  z-index: 500;
  max-width: 600px;
  cursor: pointer;
}

.Stuff-Menu {
  max-height: 550px;
}

.Stuff-Menu-Item {
  max-width: 550px;
  text-align: left;
  transition: 0.5s;
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  max-height: 95%;
  overflow-y: scroll;
  margin-left: 20px;
}

.Stuff-Menu-Text {
  margin-top: 10px;
}

#Stuff-Menu-Item::-webkit-scrollbar {
  width: 4px;
}

#Stuff-Menu-Item::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

#Stuff-Menu-Item::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, var(--darkpink), var(--marineblue));
}

.Stuff-Menu-Item::-webkit-scrollbar-thumb {
  background: var(--marineblue);
}

.Stuff-Drop-Title {
  color: var(--marineblue);
}

.Stuff-Drop-Link {
  text-transform: uppercase;
  color: var(--darkblue);
  text-decoration: none;
  transition: 0.2s;
}

.GoodStuff-Item.active {
  max-width: 100%;
  max-height: 600px;
}

.GoodStuff-Item.active .GoodStuff-Inner {
  flex-direction: row;
}

.GoodStuff-Item.active .GoodStuff-Image::after {
  opacity: 0.9;
}

.GoodStuff-Item.active .GoodStuff-Text {
  opacity: 1;
}

.GoodStuff-Item.active .GoodStuff-Subtext {
  opacity: 1;
}

.GoodStuff-Item.active .GoodStuff-Click {
  display: none;
}

.GoodStuff-Box {
  width: 100%;
  max-height: 400px;
  position: absolute;
  top: 150px;
}

.GoodStuff-Box-Inner {
  position: relative;
  padding: 0 30px 0 40px;
  max-width: 100%;
}

.GoodStuff-Img {
  width: 100%;
  height: auto;
  display: block;
}

.GoodStuff-Image {
  position: relative;
  max-height: 600px;
}

.GoodStuff-Image::after {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgb(1, 138, 157);
  background: linear-gradient(
    132deg,
    rgba(1, 138, 157, 1) 0%,
    rgba(227, 10, 59, 1) 98%
  );
  opacity: 0;
  transition: 0.5s;
}

.GoodStuff-Text {
  font-size: 23px;
  max-width: 500px;
  font-family: "Play-Fair-Display-Bold";
  font-weight: 700;
  font-style: normal;
  margin-bottom: 50px;
  color: var(--white);
  opacity: 0;
  transition: 0.5s;
}

.GoodStuff-Subtext {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  max-width: 100%;
  text-align: left;
  color: var(--white);
  opacity: 0;
  transition: 0.5s;
}

.GoodStuff-Click {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  color: var(--white);
  text-transform: uppercase;
  margin: 30px auto 10px auto;
  opacity: 0;
  transition: 0.5s;
}

.GoodStuff-Click.Mobile {
  position: absolute;
  top: 0;
  left: 50%;
  color: var(--darkpink);
  transform: translateX(-50%);
  opacity: 1;
  background-color: rgba(255, 255, 255, 0.5);
  width: 130px;
  height: 22px;
  border-radius: 20px;
  display: none;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
  font-display: swap;
}

@font-face {
  font-family: "Play-Fair-Display-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff);
  font-display: swap;
}

@media (min-width: 989px) {
  .Stuff-Drop-Link:hover {
    color: var(--brown);
  }

  .GoodStuff-Item:hover .GoodStuff-Image::after {
    opacity: 0.9;
  }

  .GoodStuff-Item:hover .GoodStuff-Text {
    opacity: 1;
  }

  .GoodStuff-Item:hover .GoodStuff-Subtext {
    opacity: 1;
  }

  .GoodStuff-Item:hover .GoodStuff-Click {
    opacity: 1;
  }
}

@media (max-width: 1152px) {
  .Stuff-Menu {
    max-height: 460px;
    margin-top: 20px;
  }
}

@media (max-width: 1000px) {
  .GoodStuff-Item {
    display: block;
    max-width: 100%;
  }

  .GoodStuff-Item.active {
    display: block;
    max-height: 100%;
  }

  .Stuff-Menu {
    max-height: 100%;
    margin-top: 20px;
  }
  .Stuff-Menu-Item {
    margin: 0 auto;
    overflow: hidden;
    text-align: justify;
  }

  .GoodStuff-Click.Mobile {
    display: block;
  }
}

@media (max-width: 558px) {
  .GoodStuff-Text {
    font-size: 19px;
    margin-bottom: 20px;
  }

  .GoodStuff-Subtext {
    font-size: 15px;
  }

  .GoodStuff-Click {
    font-size: 15px;
  }

  .GoodStuff-Box {
    top: 100px;
  }

  .Stuff-Menu-Item {
    font-size: 15px;
  }
}

@media (max-width: 410px) {
  .GoodStuff-Box {
    top: 70px;
  }
}

@media (max-width: 384px) {
  .GoodStuff-Box {
    top: 35px;
  }
}

@media (max-width: 358px) {
  .GoodStuff-Box {
    top: 25px;
  }

  .GoodStuff-Text {
    font-size: 16px;
    margin-bottom: 10px;
  }

  .GoodStuff-Subtext {
    font-size: 13px;
  }

  .GoodStuff-Click {
    font-size: 13px;
  }

  .Stuff-Menu-Item {
    font-size: 13px;
  }
}

@media (max-width: 358px) {
  .GoodStuff-Box {
    top: 5px;
  }

  .GoodStuff-Click {
    font-size: 12px;
    margin-top: 10px;
  }
}
