.Home {
  background-color: var(--black);
  position: relative;
  overflow: hidden;
 
}

  .container {
    width: 100%;

    max-width: 1230px;
    margin: 0 auto;

    padding: 0 15px;
}

.section {
  padding: 50px 0;
  background-color: var(--white);
}