.Home {
  background-color: var(--white);
  position: relative;
  overflow: hidden;
  position: relative;
  height: 100%;
  padding-bottom: 600px;
}

.container {
  width: 100%;

  max-width: 1230px;
  margin: 0 auto;

  padding: 0 15px;
}

.section {
  padding: 35px 0;
  background-color: var(--white);
}
