
.Header__inner {
  display: flex;
  padding: 15px 0 15px 0;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-width: 800px;
}

  .Header {
  background-color: var(--lightpink);
  position: relative;
  z-index: 1000;
}

