
.Header__inner {
  display: flex;
  padding: 15px 0 15px 0;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  min-width: 800px;
}

  .Header {
  background-color: var(--lightpink);
  position: relative;
  top: 0;
  left: 0;
  z-index: 1000;
}

.Header.is-sticky {
  position: fixed;
  background-color: var(--lightpink);
  right: 0;
  height: 90px;
  z-index: 1500;
  box-shadow: 5px 5px 5px rgba(227, 10, 59, 0.7);
}



