.Advantages-Button {
  cursor: pointer;
  border: 0;
  background-color: inherit;
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 23px;
  color: var(--lightblack);
  text-align: left;
  max-width: 100%;
  user-select: none;
}

.Advantages-Button.active {
  color: var(--brown);
}

.Advantages-Button.active .PlusIcon {
  color: var(--marineblue);
}

.Dropdown-Menu {
  display: flex;
  padding: 1px 5px 5px 62px;
}

.Drop-Menu-Text {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  color: var(--middlegray);
  text-align: justify;
  user-select: none;
  max-width: 90%;
}

.Advantages-Menu-Subtext {
  margin-top: 10px;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff)
       url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff2);
  font-display: swap;
}

@media (min-width: 989px) {
  .Advantages-Button:hover {
    color: var(--brown);
    transition: 0.1s;
  }
}

@media (max-width: 989px) {
  .Advantages-Box {
    position: static;
    width: 90%;
    margin: 0 auto;
    margin-top: 230px;
  }

  .Advantages-Button {
    max-width: 100%;
  }

  .Advantages-Button.active .Advantages-Box {
    width: 100%;
  }

  .Drop-Menu-Text {
    max-width: 100%;
  }

  .Dropdown-Menu {
    max-width: 100%;
  }
}

@media (max-width: 609px) {
  .Advantages-Button {
    font-size: 20px;
  }

  .Drop-Menu-Text {
    font-size: 17px;
  }

  .Dropdown-Menu {
    display: flex;
    padding: 1px 5px 5px 56px;
  }
}

@media (max-width: 532px) {
  .Advantages-Button {
    font-size: 18px;
  }

  .Dropdown-Menu {
    display: flex;
    padding: 1px 5px 5px 52px;
  }

  .Advantages-Box {
    margin-top: 200px;
  }
}

@media (max-width: 466px) {
  .Advantages-Box {
    margin-top: 150px;
  }

  .Drop-Menu-Text {
    font-size: 15px;
  }
}

@media (max-width: 358px) {
  .Advantages-Button {
    font-size: 16px;
  }

  .Advantages-Box {
    margin-top: 120px;
  }

  .Drop-Menu-Text {
    font-size: 14px;
  }

  .Dropdown-Menu {
    display: flex;
    padding: 1px 25px 5px 42px;
  }
}

@media (max-width: 323px) {
  .Advantages-Button {
    font-size: 16px;
    padding-right: 25px;
  }

  .Dropdown-Menu {
    display: flex;
    padding: 1px 25px 5px 0px;
    margin: 0 25px 0 30px;
  }
}
