.Nav {
  width: 585px;
  padding-bottom: 23px;
}

.NavDrop-Container {
  position: relative;
}

.Nav-Link {
  font-size: 21px;
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
  padding: 0 5px;
}

.Nav-Link.Desktop {
  position: absolute;
  right: 0;
}

.Nav-Link:hover {
  color: brown;
}

.NavDrop.pregant {
  left: 178px;
}

.NavDrop.product {
  left: 0;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
  font-display: swap;
}

@media (max-width: 988px) {
  .NavDrop-Container {
    display: none;
  }
}
