.Nav {
  position: relative;
  width: 585px;
  padding-bottom: 23px;
}

.Nav-Link {
  font-size: 21px;
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  text-transform: uppercase;
  color: var(--white);
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
  position: absolute;
  padding: 0 5px;
}

.Nav-Link:hover {
  color: brown;
}

.NavDrop.pregant {
  left: 178px;
}

.NavDrop.product {
  left: 0;
}

.Nav-Link {
  right: 0;
}

@font-face {
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
}
