.TextBlock {
  margin-left: 11%;
  transform: translateX(-11%);
}

.Text-Intro-Box {
  width: 570px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px 10px 40px 55px;
  border-radius: 78px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
  transition: 0.3s;
  box-shadow: 10px 15px 35px rgba(227, 10, 59, 0.7);
}

.Text-Intro-Box:hover {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 35px 35px 45px 60px;
  width: 580px;
}

.Text-Intro {
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  text-align: left;
  line-height: 1.1;
  color: var(--darkpink);
  padding-bottom: 10px;
}

.Text-Intro-Dosage {
  font-size: 55px;
  line-height: 0.5;
}

.TextBlock-BG {
  position: absolute;
  max-width: 630px;
  left: 25%;
  z-index: 400;
  top: 0;
}

.Button-Box {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  align-items: center;
}

.TextButton.Link {
  max-width: 200px;
  height: 55px;
  background-color: var(--darkpink);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s;
  
  font-size: 23px;
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 13px 15px 13px 15px;
}

.TextButton.Link:hover {
  background-color: brown;
}


@font-face {
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
}


@font-face {
  font-family: 'Play-Fair-Display-Regular';
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
}
