.TextBlock {
  margin-left: 11%;
}

.Text-Intro-Box {
  width: 570px;
  background-color: rgba(255, 255, 255, 0.7);
  padding: 25px 10px 40px 55px;
  border-radius: 78px;
  border-bottom-left-radius: 0;
  border-top-left-radius: 120px;
  border-bottom-right-radius: 120px;
  transition: 0.3s;
  box-shadow: 10px 15px 35px rgba(227, 10, 59, 0.7);
  user-select: none;
}

.Text-Intro {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 42px;
  text-align: left;
  line-height: 1.1;
  color: var(--darkpink);
  padding-bottom: 10px;
}

.Text-Intro-Dosage {
  font-size: 55px;
  line-height: 0.5;
  padding-left: 3px;
}

.TextBlock-BG {
  position: absolute;
  max-width: 630px;
  left: 25%;
  z-index: 400;
  top: 0;
}

.Button-Box {
  margin-top: 18px;
  display: flex;
  justify-content: space-between;
  max-width: 370px;
  align-items: center;
}

@font-face {
  font-family: "Play-Fair-Display-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff)
       url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff)
       url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff2);
  font-display: swap;
}

@media (min-width: 989px) {
  .Text-Intro-Box:hover {
    background-color: rgba(255, 255, 255, 0.9);
    padding: 35px 35px 45px 60px;
    width: 580px;
  }
}

@media (max-width: 988px) {
  .TextBlock {
    margin-left: 15%;
    transform: translateX(-15%);
  }
}

@media (max-width: 884px) {
  .TextBlock {
    margin-left: 23%;
  }
}

@media (max-width: 732px) {
  .TextBlock {
    margin-left: 25%;
  }
}

@media (max-width: 681px) {
  .TextBlock {
    margin-left: 29%;
  }
}

@media (max-width: 625px) {
  .Text-Intro-Box {
    width: 500px;
  }

  .Text-Intro {
    font-size: 35px;
  }

  .Text-Intro-Dosage {
    font-size: 50px;
    padding-left: 6px;
  }
}

@media (max-width: 535px) {
  .Text-Intro-Box {
    width: 460px;
  }
}

@media (max-width: 519px) {
  .Text-Intro-Box {
    width: 400px;
    height: 280px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 40px 10px 10px 37px;
  }

  .Text-Intro {
    font-size: 28px;
  }

  .Button-Box {
    margin-top: 18px;
    display: flex;
    justify-content: space-between;
    max-width: 85%;
    align-items: center;
    flex-wrap: wrap;
    flex-direction: column;
  }

  .Text-Intro-Dosage {
    font-size: 40px;
  }
}

@media (max-width: 432px) {
  .Text-Intro-Box {
    width: 350px;
  }
}

@media (max-width: 384px) {
  .Text-Intro-Box {
    width: 320px;
  }
}

@media (max-width: 363px) {
  .Text-Intro-Box {
    width: 280px;
    height: 330px;
  }

  .Text-Intro-Dosage {
    font-size: 37px;
  }

  .Text-Intro {
    font-size: 25px;
    text-align: left;
    padding-left: 10px;
    margin-bottom: 15px;
  }
}
