.Title-Container {
    margin: 10px 0;
}

.Title-Text {
    font-family: 'Play-Fair-Display-Bold';
    font-weight: 700;
    font-style: normal;
    color: var(--middlegray);
    text-transform: uppercase;
    user-select: none;
}

.Title-Subtext {
    color: var(--darkpink);
    cursor: pointer;
    text-decoration: none;
    transition: 0.1s;
}

.Title-Subtext:hover {
    color: var(--brown);
}

@font-face {
    font-family: 'Play-Fair-Display-Bold';
    font-weight: 700;
    font-style: normal;
    src: url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff);
  }