.Intro {
  min-height: 650px;
  max-height: 1023px;
  background: linear-gradient(var(--lightpink), var(--middlepink));
  height: 100vh;
}

.Intro-Inner {
  position: relative;
  height: 100vh;
  min-height: 650px;
  max-height: 1023px;
  display: flex;
  padding-top: 200px;
}

.Intro-Background {
  height: 100%;
  position: absolute;
  right: -20px;
  top: 0;
  z-index: 2;
}

@media (max-width: 1197px) {
  .Intro-Background {
    right: -60px;
  }
}

@media (min-width: 1200px) and (min-height: 717px) {
  .Intro-Background {
    right: -80px;
  }
}

@media (min-width: 1200px) and (min-height: 813px) {
  .Intro-Background {
    right: -100px;
  }
}

@media (min-width: 1200px) and (min-height: 849px) {
  .Intro-Background {
    right: -130px;
  }
}

@media (min-width: 1200px) and (min-height: 905px) {
  .Intro-Background {
    right: -160px;
  }
}

@media (min-width: 1200px) and (min-height: 973px) {
  .Intro-Background {
    right: -190px;
  }
}

@media (min-width: 1200px) and (min-height: 1023px) {
  .Intro-Background {
    right: -240px;
  }
}

@media (max-width: 1169px) {
  .Intro-Background {
    right: -120px;
  }
}

@media (max-width: 1111px) {
  .Intro-Background {
    right: -180px;
  }
}

@media (max-width: 1050px) {
  .Intro-Background {
    right: -240px;
  }

  .Intro {
    max-height: 680px;
  }

  .Intro-Inner {
    max-height: 680px;
  }
}

@media (max-width: 988px) {
  .Intro-Background {
    display: none;
  }

  .Intro-Inner {
    justify-content: center;
  }
}

@media (max-width: 510px) {
  .Intro-Inner {
    padding-top: 150px;
  }

  .Intro {
    min-height: 300px;
  }
}
