.Intro {
  min-height: 400px;
  background: linear-gradient(var(--lightpink), var(--middlepink));
  height: 100vh;
}

.Intro-Inner {
  position: relative;
  height: 100vh;
  min-height: 600px;
  display: flex;
  padding-top: 200px;
}

.Intro-Background {
  height: 100%;
  position: absolute;
  right: -30px;
  top: 0;
  z-index: 2;
}

@media (max-width: 1197px) {
  .Intro-Background {
    right: -60px;
  }
}

@media (max-width: 1169px) {
  .Intro-Background {
    right: -120px;
  }
}

@media (max-width: 1111px) {
  .Intro-Background {
    right: -180px;
  }
}

@media (max-width: 1050px) {
  .Intro-Background {
    right: -240px;
  }
}

@media (max-width: 988px) {
  .Intro-Background {
    display: none;
  }

  .Intro-Inner {
    justify-content: center;
  }

  
}
