.Intro {
    min-height: 400px;
    background-color: var(--lightpink);
}

.Intro-Inner {
    position: relative;
    min-height: 720px;
    display: flex;
    padding-top: 200px;
}

.Intro-Background {
    display: block;
    max-height: 720px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 200;
}
