.section-footer {
  height: 600px;
  width: 100%;
  background: linear-gradient(var(--lightpink), var(--middlepink));
  position: absolute;
  bottom: 0;
  z-index: 850;
}

.Footer-Inner {
  display: flex;
  justify-content: space-between;
}

@media (max-width: 734px) {
  .Footer-Inner{
    flex-direction: column;
    justify-content: center;
    align-items: center;
 
  }

  .section-footer {
    height: auto;
  }

}

