.Title-Subtext.babycalculator {
  color: var(--darkpink);
  cursor: default;
}

.BabyCalculator-Inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 35px;
}


@media (max-width: 1197px) {
  .BabyCalculator-Inner {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}