.TextButton {
  max-width: 200px;
  height: 55px;
  background-color: var(--darkpink);
  border-radius: 25px;
  cursor: pointer;
  transition: 0.1s;

  font-size: 23px;
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  text-decoration: none;
  color: var(--white);
  text-transform: uppercase;
  padding: 13px 15px 13px 15px;
}

/* link */

.TextButton.Link {
  height: 55px;
  font-size: 23px;
  text-decoration: none;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
  font-display: swap;
}

@media (min-width: 989px) {
  .TextButton:hover {
    background-color: brown;
  }
}

@media (max-width: 522px) {
  .TextButton {
    margin-left: 10px;
  }

  .TextButton.Link {
    display: none;
  }
}
