
.TextButton {
    max-width: 200px;
    height: 55px;
    background-color: var(--darkpink);
    border-radius: 25px;
    cursor: pointer;
    transition: 0.1s;
    
    font-size: 23px;
    font-family: 'Play-Fair-Display-Regular';
    font-weight: 400;
    font-style: normal;
    text-decoration: none;
    color: var(--white);
    text-transform: uppercase;
    padding: 13px 15px 13px 15px;
}

.TextButton:hover {
    background-color: brown;
}


@font-face {
    font-family: 'Play-Fair-Display-Regular';
    font-weight: 400;
    font-style: normal;
    src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff);
  }
