.Medication {
  background-color: var(--white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 10px;
}

.Title-Subtext.Link {
  color: var(--darkpink);
  cursor: pointer;
  text-decoration: none;
  transition: 0.1s;
}

@media (min-width: 989px) {
  .Title-Subtext.Link:hover {
    color: var(--brown);
  }
}

@media (max-width: 989px) {
  .Medication {
    flex-wrap: wrap;
  }
}
