:root {
  --black: #1F1F1F;
  --white: #fff;
  --lightgray: #6B7280;
  --middlegray: #292929;
  --lightpink: #ee6883;
  --darkpink: #e30a3b;
  --middlepink: #e95f7d;
  --liggtwgite: rgb(1, 1, 1, 0.5);
  --lightblack: #2a2a2a;
  --marineblue: #018a9d;
  --brown: brown;
  --lightpink2: #ee6382;

}

*{
  box-sizing: border-box;
  }

*::before,
*::after {
  box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
}


*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

