:root {
  --black: #1f1f1f;
  --white: #fff;
  --lightgray: #6b7280;
  --middlegray: #292929;
  --lightpink: #ee6883;
  --darkpink: #e30a3b;
  --middlepink: #e95f7d;
  --lightblack: #2a2a2a;
  --marineblue: #018a9d;
  --brown: brown;
  --lightpink2: #ee6382;
  --darkblue: #021056;
}

* {
  box-sizing: border-box;
}

*::before,
*::after {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
}

*ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

// ScrollBar

::-webkit-scrollbar {
  width: 6px;
}

::-webkit-scrollbar-track {
  box-shadow: 5px 5px 5px -5px rgba(34, 60, 80, 0.2) inset;
  background-color: #f9f9fd;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background: linear-gradient(180deg, var(--lightpink), var(--darkpink));
}

html,
body {
  scrollbar-color: var(--darkpink) var(--white); /* «цвет ползунка» «цвет полосы скроллбара» */
  scrollbar-width: thin;
}
