.ProducImage-Img {
    display: block;
    max-width: 800px;
    height: auto;
    position: absolute;
    z-index: 0;
    margin-left: 40px;
    user-select: none;
}

.ProducImage {
    width: 50%;
    position: relative;
    user-select: none;
}