.section--goodforyou {
  padding: 0 5px;
  background: linear-gradient(var(--middlepink), var(--lightpink));
}

.GoodForYou {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
