.Doctor-Question-Title {
  font-family: "Play-Fair-Display-Bold";
  font-weight: 700;
  font-style: normal;
  font-size: 22px;
  color: var(--darkpink);
  margin-bottom: 15px;
  user-select: none;
}

.DoctorQuestion-Container {
  margin-left: 20px;
  position: absolute;
  right: 0;
  top: 0;
  width: 320px;
  z-index: 900;
}

.Question-Form {
  display: flex;
  flex-direction: column;
  max-width: 100%;
}

.Question-Input {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  width: 100%;
  font-style: normal;
  font-size: 20px;
  padding: 10px 10px 10px 10px;
  border: 2px solid var(--darkpink);
  background-color: var(--white);
  margin-bottom: 5px;
  border-radius: 10px;
  transition: 0.2s;
  color: var(--darkpink);
  cursor: pointer;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.Question-Input::placeholder {
  color: var(--darkpink);
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.Question-Input:focus {
  outline: 0;
  background-color: var(--darkpink);
  color: var(--white);
}

.Question-Input:focus::placeholder {
  color: var(--white);
}

.Question-Message {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
  resize: vertical;
  height: 150px;
  padding: 10px 10px 10px 10px;
  background-color: var(--white);
  color: var(--darkpink);
  border: 2px solid var(--darkpink);
  border-radius: 10px;
  transition: 0.2s;
  cursor: pointer;
  width: 100%;
  max-height: 300px;
  box-shadow: 10px 4px 10px rgba(0, 0, 0, 0.1);
}
.Question-Message::placeholder {
  color: var(--darkpink);
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  font-size: 20px;
}

.Question-Message:focus {
  outline: 0;
  background-color: var(--darkpink);
  color: var(--white);
}

.Question-Message:focus::placeholder {
  color: var(--white);
}

.Button.QuestionButton {
  font-size: 17px;
  margin-top: 10px;
}

@font-face {
  font-family: "Play-Fair-Display-Regular";
  font-weight: 400;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff)
       url(/src/helpers/assets/fonts/PlayfairDisplay-Regular.woff2);
  font-display: swap;
}

@font-face {
  font-family: "Play-Fair-Display-Bold";
  font-weight: 700;
  font-style: normal;
  src: url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff)
       url(/src/helpers/assets/fonts/PlayfairDisplay-Bold.woff2);
  font-display: swap;
}

@media (min-width: 989px) {
  .Question-Input:hover::placeholder {
    color: var(--white);
  }

  .Question-Input:hover {
    background-color: var(--darkpink);
    color: var(--white);
  }

  .Question-Message:hover::placeholder {
    color: var(--white);
  }

  .Question-Message:hover {
    background-color: var(--darkpink);
  }

  .QuestionButton:hover {
    background-color: var(--brown);
  }
}

@media (max-width: 1089px) {
  .DoctorQuestion-Container {
    position: static;
    margin: 60px 0 0 0;
  }
}

@media (max-width: 589px) {
  .DoctorQuestion-Container {
    position: static;
    margin: 20px 0 0 0;
  }

  .Doctor-Question-Title {
    font-size: 19px;
  }

  .Question-Input {
    font-size: 18px;
  }

  .Question-Input::placeholder {
    font-size: 18px;
  }

  .Question-Message::placeholder {
    font-size: 18px;
  }
}

@media (max-width: 383px) {
  .Question-Input {
    width: 310px;
  }

  .Question-Message {
    width: 310px;
  }
}

@media (max-width: 320px) {
  .Question-Input {
    width: 270px;
  }

  .Question-Message {
    width: 270px;
  }

  .Doctor-Question-Title {
    margin-right: 40px;
  }

  .QuestionButton {
    margin-right: 36px;
  }

  .Question-Message {
    margin-left: 5px;
  }

  .Question-Input {
    margin-left: 5px;
  }
}
