.FAquestion-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-top: 50px;
}

.section-faquestion {
  padding: 5px 0 100px 0;
}

@media (max-width: 1089px) {
  .FAquestion-content {
    flex-wrap: wrap;
    flex-direction: column;
  }
}